html {
    font-family: sans-serif;
  }

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

button {
  margin: 50px;
  font-size: 20px;
  background-color: red;
  position: relative;
  animation: moveButton 1ms ease-in-out infinite alternate;
  &:hover{
  animation-play-state: paused;
  background-color: rgb(0, 255, 60);
  }
}

@keyframes moveButton {
  0% {
    left: 0; 
  }
  100% {
    left: 10px; 
  }
}

a {
  position: relative;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  color: black;
  &:hover{
    color: rgb(0, 255, 60);
  }
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%; 
  width: 0;
  height: 1px;
  background-color: rgb(0, 255, 60);
  transition: width 0.3s ease; 
  transform: translateX(-50%); 
}

a:hover::after {
  width: 100%
}

.ball {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  animation: fallAndBounce 2s ease-in-out; 
  animation-fill-mode: forwards; 
}

@keyframes fallAndBounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(300px); 
  }
  50% {
    transform: translateY(0); 
  }
  75% {
    transform: translateY(150px); 
  }
  100% {
    transform: translateY(0);
  }
}