@import "header.css";
@import "footer.css";

  .content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 98px;
    padding: 0 120px; 
    width: calc(100% - 240px);
  }

  @media (max-width: 1439.98px) {
    .content {
      gap: 58px;
      padding: 0 50px; 
      width: calc(100% - 100px);
    }
  }

  @media (max-width: 767.98px) {
    .content {
      gap: 46px;
      padding: 0 26px; 
      width: calc(100% - 52px);
    }
  }

  .book-appointment-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 64px;
    width: 100%;
  }

  @media (max-width: 1439.98px) {
    .book-appointment-container {
      gap: 36px;
    }  
  }

  @media (max-width: 767.98px) {
    .book-appointment-container {
      gap: 28px;
    }
  }

  .book-appointment-heading {
    color: #000;
    font-size: 64px;
    font-weight: 400;
    margin: 0px;
  }

  @media (max-width: 1439.98px) {
  .book-appointment-heading {
    font-size: 36px;
  }
  }

  @media (max-width: 767.98px) {
    .book-appointment-heading {
      font-size: 28px;
    }
  }

  .booking-steps {
    display: flex;
    width: 100%;
    height: 72px;
    border-radius: 16px;
    font-size: 34px;
    background-color: #f247c3;
  }

  @media (max-width: 1439.98px) {
  .booking-steps {
    height: 53px;
    font-size: 28px;
  }
  }

  @media (max-width: 767.98px) {
    .booking-steps {
      height: 48px;
      border-radius: 8px;
      font-size: 24px;
    }
    }

  .step-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: #8a59ec;
    color: #fff;
    flex: 1;
  }

  @media (max-width: 767.98px) {
    .step-1 {
      border-radius: 8px;
    }
    }

  .step-2,
  .step-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .choose-service-contet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
    width: 100%;
  }

  @media (max-width: 1439.98px) {
  .choose-service-contet {
    gap: 32px;
  }
  }
 
  @media (max-width: 767.98px) {
    .choose-service-contet {
      gap: 28px;
    }
  }

  .choose-service-heading {
    font-size: 48px;
    font-weight: 400;
    margin: 0px;
  }

  @media (max-width: 1439.98px) {
  .choose-service-heading {
    font-size: 30px;
  }
  }

  @media (max-width: 767.98px) {
    .choose-service-heading {
      font-size: 24px;
    }
  }

  .services-container {
    display: flex;
    gap: 78px;
    width: 100%;
  }

  .services {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

@media (max-width: 1439.98px) {
  .services {
    gap: 8px;
  }
}

@media (max-width: 767.98px) {
  .services {
    gap: 6px;
  }
}

  .service-item{
    width: 100%;
    color: #000000;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: #ffffff;
    padding: 32px 52px;
  }

  @media (max-width: 1439.98px) {
  .service-item{
    font-size: 20px;
  }
  }

  @media (max-width: 767.98px) {
    .service-item{
      font-size: 16px;
      padding: 18px 28px;
    }
  }

  .services-image {
    display: none;
  }

  @media (min-width: 1440px) {
  .services-image {
    display: inline-block;
  }
  }

  .service-item:active {
    background-color: #F247C3 !important;
    color: #ffffff !important;
    border: none;
  }

  .service-item:hover {
	  border-color: #F247C3;
    background-color: #ffffff;
    color: #F247C3;
    transition: all 100ms ease-out;
  }
  
.dark-theme {
.book-appointment-heading {
  color: #ffffff;
}

.booking-steps {
  background-color: #86276d;
}

.step-1 {
  background-color: #7a00ae;
}

.service-item{
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #e6a8ff;
}

.choose-service-heading {
  color: #ffffff;
}

.service-item:active {
  background-color: #7a00ae !important;
  color: #ffffff !important;
}

.service-item:hover {
  border-color: #e6a8ff;
  background-color: #ffffff;
  color: #e6a8ff;
}
}



 